/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(196, 191, 191);
}

/* NAVBAR */
.navbar img{
    width: 10%;
}

.navbar a{
    font-family: 'Rock Salt', cursive;
    font-size: 30px ;
}

/* TABLEAU */

.container{
    margin-top: 25px;
}
.table th{
    text-align: center;
}

.table td{
    text-align: center;
}
.fas{
    margin-left: 20px;
    color: rgb(14, 131, 160);
    font-size: 20px;
}